@model IEnumerable<Jaclyn_Noga_Portfolio.Models.Projects>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row" id="intro">
        <div class="col-sm-5">
            <div class="spacer"></div>
            <h1>Jaclyn<br /> Noga</h1>
            <p class="lead">Full-Stack Junior Developer</p>
        </div>
        <div class="col-sm-7">
            <img src="~/images/cleSil_withCompu_gray.png" alt="cleveland" />
        </div>
    </div>
</div><!-- end jumbotron-->

<section id="about">
    <div class="spacer"></div>
    <div class="panel panel-success">
        <div class="panel-heading">ABOUT</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <p>
                        Jaclyn is a student at We Can Code IT's full time programming
                        bootcamp. Over the 12 weeks of the bootcamp, Jaclyn has practiced both
                        front end and back end development- from console apps to
                        SQL databases to MVC apps. After graduation in June 2016, she intends to
                        begin a lasting career in Cleveland's growing tech industry.
                    </p>
                </div>
                <div class="col-sm-4" id="skills">
                    <h4>TECH SKILLS</h4>
                    <ul>
                        <li>ASP.NET</li>
                        <li>C#</li>
                        <li>CSS 3</li>
                        <li>Entity Framework</li>
                        <li>GIMP</li>
                        <li>Git</li>
                        <li>GitHub</li>
                        <li>HTML 5</li>
                        <li>MVS</li>
                        <li>Microsoft Office</li>
                        <li>Python</li>
                        <li>SQL</li>
                        <li>SQL Server</li>
                        <li>Scrum</li>
                        <li>Twitter Bootstrap</li>
                        <li>Visual Studio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end about section -->

<section id="projects">
    <div class="spacer"></div>
    <div class="panel panel-danger">
        <div class="panel-heading">PROJECTS</div>
    </div>

    <!-- start of slider -->
    <div class="cycle-slideshow"
         data-cycle-slides="> div">
        <span class="cycle-prev">&#9001;</span>
        <span class="cycle-next">&#9002;</span>
        <span class="cycle-pager"></span>

        @foreach (var item in Model)
        {
            <div>
                <div class="row">
                    <!-- start left column -->
                    <div class="col-md-4 col-sm-4">
                        <h4 style="text-transform:uppercase; font-size:larger">
                            @Html.DisplayFor(modelItem => item.ProjTitle)
                        </h4>
                        <p>
                            @Html.DisplayFor(modelItem => item.ProjDescr)
                        </p>

                        <p style="font-size:smaller">

                            @Html.DisplayFor(modelItem => item.ProjType)
                            |
                            @Html.DisplayFor(modelItem => item.ProjLang)
                            |
                            @if (item.ProjComplete == true)
                            {
                                @Html.DisplayFor(modelItem => item.ProjCompleteDate)
                            }
                            else {
                                @:In Progress
                        }
                            @if (item.ProjParnterFullName != null)
                            {
                                <br />@:Partner: @Html.DisplayFor(modelItem => item.ProjParnterFullName)
                        }
                        </p>
                        <a href="@item.GitSrc" target="_blank">
                            <img src="~/images/GitHub-Mark-32px.png" />
                        </a>

                    </div> <!-- end left column -->
                    <!-- start right column -->
                    <div class="col-md-8 col-sm-8">
                        <img src="@Url.Content(item.ProjImgSrc)" alt="Image" />
                    </div> <!-- end right column -->
                </div><!-- end of row-->
            </div> <!-- end of slide -->
        }
    </div> <!-- end of slider -->
</section> <!-- end of projects section -->

<section id="contact">
    <div class="spacer"></div>
    <div class="panel panel-info">
        <div class="panel-heading">CONTACT</div>
        <div class="panel-body">
            <div class="spacer"></div>
            <p>jaclyn.noga@gmail.com</p>
            <br />
            <a href="https://github.com/JaclynNoga" target="_blank">
                <img src="~/images/GitHub-Mark-120px-plus.png" />
            </a>&nbsp;
            <a href="https://www.linkedin.com/in/jaclynnoga" target="_blank">
                <img src="~/images/linkedin.png" />
            </a>
        </div>
    </div>
</section> <!-- end of contact section-->